.hacks
{
    position:relative;
    width:1302px;
    flex: 9;
    bottom:-91px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    right:29px;
    background-color:  #002A3B;;;
    border-left:solid black;
border-right:solid black;
border-width: 100px;;
}

.Title
{
  font-family: 'Poppins';
  font-style: normal;
font-weight: 600;
font-size: 28px;
position:relative;
text-align: center;
right:10px;
background-color: #002A3B;;
width:1302px;
height:150px;
color:white;
bottom:20px;
border-left:solid black;
border-right:solid black;
border-width: 100px;;
}

.titleBox
{
  position:relative;
  top:35px;
}

.search
{
    display:flex;
    
    top:90px;
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 600;
    font-size: 48px;
    position:relative;
    text-align: center;
    right:100px;
    background-color:#002A3B;;;
    width:1302px;
    height:150px;
    color:white;
    bottom:10px;
    border-left:solid black;
    border-right:solid black;
    border-width: 100px;; 
}

.searchbox
{
position: relative;
width: 829px;
height: 50px;
bottom: 40px;
background: #FFFFFF;
box-shadow: 0px 4px 50px rgba(111, 111, 111, 0.1);
border-radius: 12px;
}

.custom-select
{
    box-sizing: border-box;
    width: 155px;
    display:flex;
    height: 42px;
    position :relative;
    text-align:center;
    left:190px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 12px;
    top:30px;
    font-size:18px;;
}

.search-container
{
  position:relative;
  left:120px;
  bottom:30px;
}
select optgroup{
 
  color:rgb(28, 27, 27);
  font-family: 'Poppins';
  font-style: normal;
  font-style:normal;
  font-weight:normal;
  }




.sort
{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
    height:50px;
}

.difficulty
{
    font-family: 'Edu TAS Beginner', cursive;
  font-weight:1000;
    font-size: 25px;
    background-color: #ca0707;
}

.status
{
    font-family: 'Edu TAS Beginner', cursive;
    font-weight:1000;
      font-size: 25px;
      background-color: #0710b8; 
}



