.post {
    width: 340px;
    margin: 0px 65px 50px 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:white;
  }
   


.postImg {
width: 340px;
height: 280px;
object-fit: cover;

}

.postTitle {
  font-family: 'Edu TAS Beginner', cursive;
  
    font-size: 20px;
    font-weight: 900;
    margin-top: 15px;
    margin-left:30px;
    text-align: center;
    cursor: pointer;
  }

  .Active
  {
    background: rgba(68, 146, 76, 0.24);
border-radius: 5px;
font-family: 'Edu TAS Beginner', cursive;
font-weight:600;
font-size: 17px;
line-height: 16px;
/* or 133% */
height:20px;
text-align: center;

color: #44924C;
  }

  .Past
  {
    background: rgba(255, 60, 0, 0.170148);
border-radius: 5px;
font-family: 'Edu TAS Beginner', cursive;
font-weight: 600;
font-size: 17px;
line-height: 16px;
/* or 133% */
height:20px;
text-align: center;

color: #666666;
  }

.Upcoming
{
  background: rgba(242, 201, 76, 0.25);
border-radius: 5px;
font-family: 'Edu TAS Beginner', cursive;
font-weight: 600;
font-size: 17px;
line-height: 16px;
/* or 133% */
height:20px;
text-align: center;

color: #666666;
}

.Time
{
width: 306px;
height: 30px;
text-align:center;
margin-top:20px;
margin-left:10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 28px;
/* or 156% */
}
.QQQ
{
  font-family: 'Edu TAS Beginner', cursive;
  color:rgb(241, 46, 46)
}

.QQ{
  font-family: 'Edu TAS Beginner', cursive;
  color: rgb(8, 160, 8)
}

.Q
{
  font-family: 'Edu TAS Beginner', cursive;
  color: rgb(91, 91, 4)
}

.button5
{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 18px;
    gap: 10px;
    width: 214px;
    height: 46px;
    font-family: 'Edu TAS Beginner', cursive;
  font-weight:1000;
  height:50px;
    font-size:23px;
    background: #44924C;
    border-radius: 10px;
    position:relative;
    left:50px;
}

.button5:hover
{
    background-color: aqua;
    transform: scale(1.2);

}