.headingContainer
{
border-left:solid #FFCE5C;
border-width: 10px;;
padding-left:40px;
position: absolute;
width: 643px;
height: 112px;
left: 205px;
top: 190px;
background-color: #003145;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
color: #FFFFFF;
}

.container{
    width: 1442px;
    height: 525px;
    left: -1px;
    top: 4px;
    background: #003145;
    border-left: solid black;
    border-right:solid black;
    border-width: 100px;
}

.img
{
  position: absolute;
  width: 392px;
  height: 294px;
  top: 170px;
}

.textContainer
{
position: absolute;
width: 531px;
height: 112px;
left: 205px;
top: 340px;
font-family: 'Poppins';
font-style: normal;
padding-left:50px;
font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #ECECEC;
background-color: #003145;
}

.imgContainer
{
position: absolute;
width: 442px;
height: 500px;
top: 2px;
right:200px;
background: #003145;
}

.container2
{
    background-color:  #003145;;
    width:1442px;
    height:80px;
    border-left: solid black;
    border-right:solid black;
    border-width: 100px;
}

.button1
{
  position:relative;
  left:140px;
  top:-40px;
  width:198px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight:1000;
  height:47px;
  background-color: rgb(249, 249, 248);
  color:black;
  font-size:18px;
  border-radius:10px;
}

.button1:hover
{
    background-color: aqua;
    transform: scale(1.2);

}

.container3
{
    width:1442px;
    height:200px;
    display:flex;
    border-left: solid black;
    border-right:solid black;
    border-width: 100px;
    
    background: #002A3B;
}

.submissions
{
    background: #002A3B;
    border-top:1px solid white;
    border-right:2px solid white;
    font-family: 'Inter';
font-style: normal;
}

.textI
{
position: absolute;
width: 157px;
height: 17px;
left: 260px;
top: 629px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 20px;
color: #FFFFFF;
}

.textsmall
{
position: absolute;
width: 190px;
height: 17px;
left: 260px;
top: 660px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
color: #FFFFFF;
}

.iconImg
{
    position: absolute;
    width: 190px;
    height: 17px;
    left: 188px;
    top: 626px;
}

.iconImg1
{
    position: absolute;
    width: 190px;
    height: 17px;
    left: 628px;
    top: 626px;
}

.textI1
{
position: absolute;
width: 157px;
height: 17px;
left: 710px;
top: 629px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 20px;
color: #FFFFFF;
}

.textsmall1
{
position: absolute;
width: 190px;
height: 17px;
left: 710px;
top: 660px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
color: #FFFFFF;
}

.iconImg2
{
    position: absolute;
    width: 190px;
    height: 17px;
    left: 1088px;
    top: 626px;
}

.textI2
{
position: absolute;
width: 157px;
height: 17px;
left: 1160px;
top: 629px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 20px;
color: #FFFFFF;
}

.textsmall2
{
position: absolute;
width: 190px;
height: 17px;
left: 1160px;
top: 660px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
color: #FFFFFF;
}
